@font-face {
    font-family: Funtasia;
    src: url('/src/fonts/Funtasia-axYAa.ttf');
}

#content {
    background-image: url('/src/img/background-pattern.jpg');
    width: 100%;
    height: 80%;
    min-height: 30em;
}

.top-bar-container {
    
    font-family: 'Funtasia';
    font-size: 2em;
    max-height: 4em;
    display: grid;
    grid-template-columns: auto auto;
    position: relative;

    padding-left: 30%;
    padding-right: 45%;
    padding-top: 0em;
    background-image: linear-gradient( rgba(0, 34, 43, 0.432), rgba(14, 255, 243, 0.39));

}

.top-bar-container:hover {
    background-image: linear-gradient( rgba(0, 34, 43, 0.829), rgba(14, 255, 243, 0.712));
}

.top-bar-icon {
    height: 3em;
    padding-top: 0.5em;
}

.top-bar-text-container h4 {
    font-size: 1.2em;
    background: linear-gradient(90deg, #070601, #644001);
    background-clip: text;
    -webkit-background-clip: text;  
    -moz-background-clip: text;  
    -moz-text-fill-color: transparent;  
    -webkit-text-fill-color: transparent;
}

