/* Summary 
    1. fonts
        Funtasia
        Aileron Regular (?)

    2. top bar
        .top-bar-container
        .top-bar-icon
        .top-bar-text-container h4

        navigation bar

        .navbar-container
        .navbar-button
        .navbar-button:hover
        .navbar-button:active
*/





/* Fonts */

@font-face {
    font-family: Funtasia;
    src: url('/src/fonts/Funtasia-axYAa.ttf');
}

@font-face {
    font-family: Aileron Regular;
    src: url('/src/fonts/aileron.regular.otf');
}

#content {
    background-image: url('/src/img/background-pattern.jpg');
    width: 100%;
    min-height: 780px;

    font-family: 'Aileron';

}


/* TOP BAR */
.top-bar-container {
    
    font-family: 'Funtasia';
    font-size: 2em;
    max-height: 4em;
    display: grid;
    grid-template-columns: auto auto;
    position: relative;

    padding-left: 30%;
    padding-right: 45%;
    padding-top: 0em;
    background-image: linear-gradient( rgba(0, 34, 43, 0.432), rgba(14, 255, 243, 0.39));

}



.top-bar-icon {
    height: 2.4em;
    padding-top: 0.5em;
    padding-left: 1em;
}

.top-bar-text-container h4 {
    font-size: 1.2em;
    background: linear-gradient(90deg, #070601, #644001);
    background-clip: text;
    -webkit-background-clip: text;  
    -moz-background-clip: text;  
    -moz-text-fill-color: transparent;  
    -webkit-text-fill-color: transparent;
}

/* navigation bar */
.navbar-container {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, auto);
    border: rgba(255, 255, 255, 0) 2px solid;
    bottom: 0;
}

.navbar-button {
    padding: 1em;
    background: transparent;
    border: none;
    font-weight: 900;
    color: rgb(34, 18, 1);
}

.navbar-button:hover {
    background: rgb(36,230,196);
    background: linear-gradient(180deg, rgba(36,230,196,0.39677869438791147) 0%, rgba(29,63,222,0.36876748990611874) 100%); 
    border-radius: 5px;

    color: rgb(0, 0, 0);
}

.navbar-button:active {
    background: rgb(211,230,36);
    background: linear-gradient(180deg, rgba(211,230,36,0.39677869438791147) 0%, rgba(29,222,170,0.36876748990611874) 100%);
    color: whitesmoke;
}